.menu{
    width: 10%;
    height: 100%;
    background-color:#2F2841;
  }
.menu > Link {
    color: white;
}

.menu-opcoes{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.icone-home{
    color: white;
    height: 35px;
    width: 35px;
  }
.icone-user{
    color: white;
    height: 35px;
    width: 35px;
}
.icone-curriculo{
    color: white;
    height: 35px;
    width: 35px;
}
.icone-certificados{
    color: white;
    height: 35px;
    width: 35px;
}
.icone-projetos{
    color: white;
    height: 35px;
    width: 35px;
}
.icone-contato{
    color: white;
    height: 35px;
    width: 35px;
}

.info{
    color: white;
  }
  
.menu-link{
    color: #FFF;
    list-style: none;
  }
.div-home{
    width: 100%;
    height: 100%;
}